################################################################################
# pnpm-specific settings (npm may warn & ignore them)
################################################################################
strict-peer-dependencies=false
auto-install-peers=true
enable-pre-post-scripts=true # To ensure that pnpm runs preinstall & postinstall scripts which are needed for some packages to work correctly (e.g., the `sharp` package prebuilt native binary which is required for running `@capacitor/assets` command).
# virtual-store-dir-max-length=60 # This is needed to prevent issues with long paths on Windows when using pnpm (on Mac the default value is 120, which is fine). e.g., a path may look like `node_modules/.pnpm/@capacitor-firebase+analyti_e8dbd58b3658e4c01c60caa8ba624f7f/` on Windows, and look like `node_modules/.pnpm/@capacitor-firebase+analytics@8.2.0_@capacitor+core@8.3.0_firebase@12.11.0/` on Mac.
