App/build
App/Pods
App/output
App/App/public
App/Podfile.lock
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# Generated icons & splashes
App/App/Assets.xcassets/AppIcon.appiconset/*.png
App/App/Assets.xcassets/Splash.imageset/*.png
